services:
  db:
    image: ghcr.io/2n4a/loreshifter-db:latest
    environment:
      - POSTGRES_DB=${DB_NAME:-loreshifter}
      - POSTGRES_USER=${DB_USER:-postgres}
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - postgres_wal:/var/lib/postgresql/wal
    ports:
      - "15001:5432"
    secrets:
      - db-password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres} -d ${DB_NAME:-loreshifter}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G

  backend:
    image: ghcr.io/2n4a/loreshifter-backend:latest
    environment:
      - ENVIRONMENT=prod
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=${DB_NAME:-loreshifter}
      - DB_USER=${DB_USER:-postgres}
      - LOG_STACKTRACE=true
    ports:
      - "15002:8000"
    depends_on:
      db:
        condition: service_healthy
    secrets:
      - oauth2-github-client-id
      - oauth2-github-client-secret
      - db-password
      - gen-api-key
      - proxy-api-key

  frontend:
    image: ghcr.io/2n4a/loreshifter-web:latest
    container_name: dev_frontend
    ports:
      - "15003:80"
    depends_on:
      backend:
        condition: service_healthy

secrets:
  db-password:
    file: ./secrets/db-password
  oauth2-github-client-id:
    file: ./secrets/oauth2-github-client-id
  oauth2-github-client-secret:
    file: ./secrets/oauth2-github-client-secret
  gen-api-key:
    file: ./secrets/gen-api-key
  proxy-api-key:
    file: ./secrets/proxy-api-key

volumes:
  postgres_data:
  postgres_wal:
