name: Run Tests

on: {}
# on:
#   push:
#    branches: [ main ]
#  pull_request:
#    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build and run tests
      run: docker compose -f backend/docker-compose.test.yaml up --build --abort-on-container-exit
